#p1 {
  float: left;
  background-image: url("dice1.gif");
  color: white;
}
#p2 {
  float: right;
  background-image: url("dice1.gif");
  color: white;
}
#button {
  position: absolute;
  display: flex;
  margin-top: 5%;
  margin-left: 20%;
}
#new {
  position: absolute;
  display: flex;
  margin-top: 5%;
  margin-left: 55%;
}
#hold {
  position: absolute;
  display: flex;
  margin-top: 5%;
  margin-left: 40%;
}
#p3 {
  margin-top: 20%;
}
button {
  background-image: url("dice1.gif");
}
