form {
  text-align: center;
  margin-top: 30%;
}
body {
  background-image: url("dice4.jpeg");
}
button {
  margin: 10px;
  align-self: center;
}
#r1, #r2 {
  display: none;
}
.jumbotron{
  text-align: center;
}
.col-md-5 {
  border: 2px solid white;
  background-color: black;
  color: cyan;
  font-size: 30px;
}

.turnTotal {
  display: none;
  font-size: 200%;
}

.play {
  display: none;
}
#result {
  border: 2px solid black;
  display: none;
  text-align: center;
}
#total {
text-align: center;
}
#turnTotal {
    text-align: center;
    background-image: url("dice1.gif")
}

#pshow1 {
  display: none;
  text-align: center;
}

#pshow2 {
  display: none;
  text-align: center;
}
.row {
  text-align: center;
}
